/* universal place using things */
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}



/* group of  the same color using muliple state */
:root {
    --bg-primary: #FF5959;
    --bg-secondary: #FAFAFA;
    --text-primary: #707070;
    --text-secondary: #121212;
}

/* ---common style pattern that using multiple place */
.common-title {
    color: var(--text-secondary);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.common-info {
    color: var(--text-primary);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin: 20px 0 50px 0;

}


/* ----banner------- */

#banner {
    background-color: var(--bg-secondary);
    display: flex;
    align-items: end;
    padding: 1px;

}

/* ----banner info */

#banner .banner-info {
    margin: 121px 0 121px 98px;
}

#banner .heading {
    font-family: 'Inter', sans-serif;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;

}

#banner .sub-heading {
    margin: 20px 0 30px 1px;
    font-size: 18px;

}

#banner .donate-button {
    display: flex;
    align-items: center;
    gap: 30px;
}

#banner .watch {
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: 'Inter', sans-serif;
}


.btn-primary {
    background-color: var(--bg-primary);
    color: #FFF;
    padding: 16px 12px;
    border: none;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    border-radius: 5px;

}

/*------------- Banner-image ---------- */
#banner .banner-img {
    display: flex;
    position: relative;
    justify-items: end;

}

#banner .donate {
    position: absolute;
    /* top: 66px; */
    left: 171px;
    right: 170px;
    bottom: 0;
}

/* ------donate sections --------- */

#doante-sections {
    padding: 130px 137px;
    text-align: center;
    background: #FFF;
    ;
}



#doante-sections .amount-level {
    display: flex;
    justify-content: center;
    align-items: center;

}

#doante-sections .amount {
    width: 135px;
    height: 123px;
    border-radius: 5px;
    background: var(--bg-secondary);
    margin-left: 22px;


}

#doante-sections .amount span {
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

#doante-sections .divider {
    margin-bottom: 30px;

}

/* ------donate plan ----------- */

#donate-plan {
    margin: 130px 133px;

}

#donate-plan .donate-plan-card {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#donate-plan .donate-plan-card div {
    background-color: var(--bg-secondary);
    margin-left: 24px;
    width: 360px;
    height: 352px;
    padding: 55px 23px;
    border-radius: 5px;
}

#donate-plan .donate-plan-card div:nth-child(1) {

    background: rgba(79, 157, 166, 0.10);
}

#donate-plan .donate-plan-card div:nth-child(2) {

    background: rgba(255, 89, 89, 0.10);
}

#donate-plan .donate-plan-card div:nth-child(3) {

    background: #FFF4D6;
}

#donate-plan .donate-plan-card div h3 {
    margin: 30px 0 16px;

}

/* ------contribution section ------- */

#contribution-section {
    margin: 130px 156px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    gap: 100px 94px;
}

#contribution-section div h1 {
    color: var(--text-secondary);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#contribution-section div p {
    margin: 20px 0;
    color: var(--text-primary);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px
}

#contribution-section .item-1 {
    order: 1;
}

#contribution-section .item-2 {
    order: 2;
}

#contribution-section .item-3 {
    order: 4;
}

#contribution-section .item-4 {
    order: 3;
}


/* -----update sections ------- */

#update-section {
    margin: 0 315px 307px;
}

#update-section .subscribe-area {
    background: #FFF4D6;
    /* margin: 0 315px; */
    padding: 76px 345px 76px 189px;
    display: flex;
    flex-shrink: 0;
}

#update-section .subscribe-area input {
    border-radius: 5px 0px 0px 5px;
    background: #D9D9D9;
    width: 275px;
    height: 48px;
    padding: 14px 0 14px 17px;
    border: none;
}

#update-section .subscribe-area button {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    border-radius: 0px 5px 5px 0px;
    background: #FF5959;
    padding: 14px 42px;
    border: none;
  
}


/* ------footer ------- */

