/* universal place using things */
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}



/* group of  the same color using muliple state */
:root {
    --bg-primary: #FF5959;
    --bg-secondary: #FAFAFA;
    --text-primary: #FFFFFF;
    --text-secondary: #121212;
}

/* ----banner------- */

#banner {
    background-color: var(--bg-secondary);
    display: flex;
    align-items: end;
    padding: 1px;

}

/* ----banner info */

#banner .banner-info {
    margin: 121px 0 121px 98px;
}

#banner .heading {
    font-family: 'Inter', sans-serif;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;

}

#banner .sub-heading {
    margin: 20px 0 30px 1px;
    font-size: 18px;

}

#banner .donate-button {
    display: flex;
    align-items: center;
    gap: 30px;
}

#banner .watch {
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: 'Inter', sans-serif;
}


.btn-primary {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    padding: 16px 12px;
    border: none;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    border-radius: 5px;

}

/*------------- Banner-image ---------- */
#banner .banner-img {
    display: flex;
    position: relative;
    justify-items: end;

}

#banner .donate {
    position: absolute;
    /* top: 66px; */
    left: 171px;
    right: 170px;
    bottom: 0;
}

/* ------donate sections --------- */

#doante-sections {
    padding: 130px 137px;
    text-align: center;
    background: #FFF;
    ;
}

#doante-sections h1 {
    color: var(--text-secondary);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#doante-sections .donate-info {
    color: #707070;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin: 20px 0 50px 0;
}

#doante-sections .amount-level {
    display: flex;
    justify-content: center;
    align-items: center;

}

#doante-sections .amount {
    width: 135px;
    height: 123px;
    border-radius: 5px;
    background: var(--bg-secondary);
    margin-left: 22px;


}

#doante-sections .amount span {
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

#doante-sections .divider {
    margin-bottom: 30px;
    
}

